# Why Numpy
### its optimized in C  
### Vectorization via broadcasting

In [16]:
import numpy as np
import pandas as pd

# DataTypes & Attributes

In [7]:
#Numpy main datatype is ndarray
a1 = np.array([1,2,3])
a1

array([1, 2, 3])

In [9]:
a2 = np.array([[1,2.0,3],
              [5.7,4,2]])

(2, 3)

In [13]:
type(a1) , type(a2)

(numpy.ndarray, numpy.ndarray)

In [14]:
a1.shape , a2.shape

((3,), (2, 3))

In [10]:
a1.ndim , a2.ndim

(1, 2)

In [11]:
a1.dtype , a2.dtype

(dtype('int32'), dtype('float64'))

In [12]:
a1.size ,a2.size

(3, 6)

In [18]:
df = pd.DataFrame(a2)
df

     0    1    2
0  1.0  2.0  3.0
1  5.7  4.0  2.0

## How to Create Numpy Arrays

In [20]:
sample_array = np.array([1,2,3])
sample_array

array([1, 2, 3])

In [21]:
sample_array.dtype , sample_array.shape

(dtype('int32'), (3,))

In [24]:
ones = np.ones((2 ,3)) # Press shift and tab to open documentaion 
ones

array([[1., 1., 1.],
       [1., 1., 1.]])

In [26]:
zeros = np.zeros((2,3))
zeros

array([[0., 0., 0.],
       [0., 0., 0.]])

In [28]:
range_array = np.arange(0,10,2)
range_array

array([0, 2, 4, 6, 8])

In [30]:
random_array = np.random.randint(0,10, size = (2,3))
random_array

array([[2, 2, 8],
       [7, 2, 2]])

In [37]:
random_array_2 = np.random.rand(2,3) # 2 i axis 0 , 3 is axis 1 and add axis n as u wish
random_array_2

array([[0.79172504, 0.52889492, 0.56804456],
       [0.92559664, 0.07103606, 0.0871293 ]])

In [36]:
#Numpy Pseudo seeds
np.random.seed(seed =0)
random_Array_3 = np.random.randint(10 , size = (5,3))
random_Array_3 
#Problem is evertime i run this it gives me a new set of values,So how do i fix it?
#add np.random.seed(seeed =0 )

array([[5, 0, 3],
       [3, 7, 9],
       [3, 5, 2],
       [4, 7, 6],
       [8, 8, 1]])

In [43]:
np.random.seed(7) # when 7 is given somewhere else itll throw same numbers
random_array_4 = np.random.random((2,3))
random_array_4

array([[0.5488135 , 0.71518937, 0.60276338],
       [0.54488318, 0.4236548 , 0.64589411]])

## Viewing Arrays and Matrices

###  1)Arithmetic

In [45]:
a1

array([1, 2, 3])

In [48]:
a1 + zeros # or 
np.add( a1 , zeros)

array([[1., 2., 3.],
       [1., 2., 3.]])

In [49]:
a2

array([[1. , 2. , 3. ],
       [5.7, 4. , 2. ]])

In [50]:
( a1  +  ones  ) * a2

array([[ 2. ,  6. , 12. ],
       [11.4, 12. ,  8. ]])

In [51]:
a1 * a2  #no error cuz it brodcasted according to smaller array
# a1 = array([1, 2, 3]) a2 = array([[1. , 2. , 3. ],
                                   #[5.7, 4. , 2. ]])

array([[1. , 4. , 9. ],
       [5.7, 8. , 6. ]])

In [58]:
a3 = np.random.randint(1,10 , size = (3,4,5))
a3

array([[[5, 9, 5, 4, 8],
        [6, 6, 1, 2, 6],
        [4, 1, 6, 1, 2],
        [3, 5, 3, 1, 4]],

       [[3, 1, 8, 6, 1],
        [3, 8, 3, 3, 4],
        [4, 3, 4, 5, 2],
        [3, 2, 5, 7, 9]],

       [[3, 4, 1, 1, 7],
        [1, 7, 4, 4, 9],
        [9, 9, 3, 4, 3],
        [1, 9, 9, 4, 9]]])

In [59]:
np.multiply(a2,a3)  # a2 * a3  
# ValueError: operands could not be broadcast together with shapes (2,3) (3,4,5)  
# How can we reshape a2 to make it comaptible with a3 ?

ValueError: operands could not be broadcast together with shapes (2,3) (3,4,5)

In [ ]:
np.square(a2) # or a2 **

## Aggregation

###### Python's Version

In [69]:
# Pythons way of adding
list = [ 1,2,3,4]
print(list)
sum(list)

[1, 2, 3, 4]

10

In [71]:
#NumPy's Method to add 
a1 = np.array([1,2,3,4])
print(a1)
np.sum(a1)

[1 2 3 4]

10

10